<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SSHDemo</display-name>

	<!-- 配置Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 用来定位Spring XML文件的上下文配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext*.xml</param-value>
	</context-param>



	<!-- 解决懒加载问题 -->
	<filter>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 字符集 -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- Struts核心过滤器 拆成两个过滤器 -->
	<filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts-execute</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<!-- Struts核心过滤器 拆成两个过滤器 -->
	<!-- <filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping> -->


	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	
	
	
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IOTReceiveDataFromHis</servlet-name>
			<servlet-class>
				cn.com.mwsn.mpm.data.IOTReceiveDataFromHis
			</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>IOTReceiveDataFromHis</servlet-name>
			<url-pattern>/userMsg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dispatcher</servlet-name>
			<servlet-class>
				per.cz.servlet.Dispatcher
			</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>Dispatcher</servlet-name>
			<url-pattern>/dispatcher</url-pattern>
	</servlet-mapping>
	
	
	<!-- 床头管理数据接口 -->
	<servlet>
		<servlet-name>PatientInfo</servlet-name>
			<servlet-class>
				cn.com.mwsn.btpm.httpservlet.PatientInfo
			</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>PatientInfo</servlet-name>
			<url-pattern>/patientinfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Patientadvice</servlet-name>
			<servlet-class>
				cn.com.mwsn.btpm.httpservlet.Patientadvice
			</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>Patientadvice</servlet-name>
			<url-pattern>/patientadvice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Patientcall</servlet-name>
			<servlet-class>
				cn.com.mwsn.btpm.httpservlet.Patientcall
			</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>Patientcall</servlet-name>
			<url-pattern>/load/patientcall</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Patientdata</servlet-name>
			<servlet-class>
				cn.com.mwsn.btpm.httpservlet.Patientdata
			</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>Patientdata</servlet-name>
			<url-pattern>/load/patientdata</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GetActionFromDP</servlet-name>
			<servlet-class>
				cn.com.mwsn.btpm.httpservlet.GetActionFromDP
			</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>GetActionFromDP</servlet-name>
			<url-pattern>/action</url-pattern>
	</servlet-mapping>
	
	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<!-- 出错页面定义 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>



	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>