@charset "utf-8";
/* CSS Document */


body{
	background:url(image/bg1.gif) repeat top left;
	margin: 0px auto;
}

.loginbg{
	clear:both;
	width:100%;
	height:100%;
	
}

.newrfid{
	background-image:url(image/bgnewrfid.jpg);
}

table{
	background-image:url(image/formbg.png);	
	width:450px;
	height:312px;
    margin:200px auto;
	}
	
.heading{
	background-image:url(image/heading.png);
    background-repeat:no-repeat;
    position:absolute;
    width:450px;
    height:60px;
    margin-top:8px;
    margin-left:5px; 
}
.gonghao{
	padding-left:8px;
	padding-top:36px;
	float: left;
	margin-left: -400px;
	font-size: 16px;
	font-family:'微软雅黑', '宋体', '黑体';
	color:#494949;
	text-align:left;
	margin-top:-20px;
}
/***********************************此处添加userinput等等的样式**************************************/
.userinput{
	padding-left:8px;
	padding-top:36px;
	float: left;
	margin-left: -320px;
	font-size: 16px;
	font-family:'微软雅黑', '宋体', '黑体';
	color:#494949;
	text-align:left;
	margin-top:-20px;
	vertical-align:middle; 
	line-height:10px; /*line-height must be equal to height*/ 
}

.wordinput{
	padding-left:8px;
	padding-top:19px;
	float: left;
	margin-left: -320px;
	font-size: 16px;
	font-family:'微软雅黑', '宋体', '黑体';
	color:#494949;
	text-align:left;
	margin-top:-70px;
}
.user{
	padding-top:70px;
	padding-right:-50px;
	margin-left:49px;
	margin-top:55px;
	float:left;
	text-align:right;
	color:#494949;
	font-family:"微软雅黑", "宋体", "黑体";
	font-size:16px;
	}	
.word{
	margin-left:49px;
	margin-top:8px;
	padding-left:-50px;
	float:left;
	text-align:right;
	color:#494949;
	font-family:"微软雅黑", "宋体", "黑体";
	font-size:16px;
	}
/**************************************************************************************************/	
.remem{
	margin-left:47px;
	margin-right:-30px;
	margin-top:-30px;
	float:left;
	font-family:"微软雅黑", "宋体", "黑体";
	font-size:13px;
	color:#555;}
	
.btn{
	margin-left:335px;
	margin-right:-30px;
	margin-top:-40px;
	float:left;
	 }